body{
  width:90%;margin:auto;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #1b263b;
}

textarea{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1b263b;
  font-size: 15px;
  resize: none;
}

#header{
  text-align:center;
}

#submitbutton{
  font-size: 16px;
  margin-top: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #1b263b;
}

table{
  width:100%;
  border-collapse: collapse;
}
thead{
  background-color:#669bbc;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  color: #fff
}

th{
  font-weight: 500;
  padding: 8px; 
  border: 1px solid #ddd; 
  text-align: left;
}

td{
  padding: 8px;
  border: 1px solid #ddd;
  width: 33.3%
}

tr{
  padding: 8px;
  border: 1px solid #ddd;
}

tbody tr.stripe:nth-child(odd) {
  background-color: #f8f9fa;
}
.notes{
  font-style:italic;
  font-size: smaller;
  color: #778da9;
}
a {color: #1b263b; text-decoration: none;}
a:active, a:hover {color: #778da9;}
/*a:visited {color: #85144B;}*/

.sticky {
  /* These properties make the element "sticky" */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100; /* Ensures the header stays on top of other content */
  padding: 1rem 0;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}
